{% import "macros.twig" as macros %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A website that can recognize your food.">
    <meta name="author" content="2Feed1Food Team">
    <title>2 Feed 1 Food</title>
    <link rel="stylesheet" href="{{ url_for('static' , filename='assets/css/assets.min.css') }}">
    <link rel="stylesheet" href=" {{ url_for('static' , filename='assets/css/app.min.css') }}">
</head>
<body class="p-0">
{% include 'blocks/header.twig' %}

{{ macros.separator() }}

{% include 'blocks/description.twig' %}

{{ macros.separator() }}

{% include 'blocks/special.twig' %}


{{ macros.separator() }}

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card shadow">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>

        <div class="col-sm"></div>

        <div class="col-sm">
            <div class="card shadow">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                        the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>

    </div>

    <div class="m-4"></div>

    <div class="row">
        <div class="col-sm">
            <div class="card shadow">
                <canvas id="myChart1" width="400" height="400"></canvas>
            </div>
        </div>

        <div class="col-sm"></div>

        <div class="col-sm">
            <div class="card shadow">
                <div class="card-body">
                    <canvas id="myChart2" width="400" height="400"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="m-4 p-4"></div>


{% block footer %}
    {% include 'blocks/footer.twig' %}
{% endblock %}

<script src="{{ url_for('static',filename='assets/js/assets.min.js') }}" ></script>
<script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>
</body>
</html>
