<div class="collapse" id="collapseN{{ header }}">

    <table class="table table-striped table-bordered table-hover table-sm">
        <thead class="thead-dark">
        <tr>
            <th scope="col"> #</th>
            <th scope="col"> Product Name</th>
            <th scope="col"> Nutrition score</th>
        </tr>
        </thead>
        <tbody>
        {% for doc in cursor %}
            <tr>
                <td>{{ loop.index }} </td>
                <td><a class="btn" href="/product/alone?doc={{ doc['_id'] }}">{{ doc['product_name'] }} </a></td>
                <td>{{ doc['nutrition_grade_fr'] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>